<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Weather App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/">Home</a>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link" href="#">Sign Up</a>
          <!-- <form id="logout-form" action="/logout" method="POST" class="d-inline">
              <button class="nav-link btn btn-link p-0" type="submit" style="text-decoration: none;" >Logout</button>
          </form> -->
        </div>
      </div>
    </div>
</nav>